@import "src/styleguide/shared.scss";

:host ::ng-deep {
  font-size: 14px;
}

.btn-download {
  @include btn-primary;
}

.btn-cancel {
  @include btn-secondary;
  margin-right: 15px;
}

.ta-right {
  text-align: right;
}

.fas {
  font-size: 20px;
  color: $color-black-1;
  cursor: pointer;
}