
<div fxLayout="column" fxLayoutOffset="-15px">
  <div class="btn-close" (click)="onCancel()">
      <i class="fas fa-times"></i>
  </div>
  <div mat-dialog-content fxLayout="column" class="mat-dialog-card" >
    <form [formGroup]="forgotPasswordForm" fxFlex fxLayout="column">
      <mat-form-field class="form-email" floatLabel="never">
        <input formControlName="email" matInput placeholder="Enter your email address" name="email">
        <mat-error>{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center" class="actions" [style.fontSize.px]="10">
    <button class="btn-cancel" mat-button type="button" (click)="onCancel()" fxLayoutAlign="center" >Cancel</button>
    <button class="btn-send" mat-button type="button" (click)="onSend()" fxLayoutAlign="center" [disabled]="!forgotPasswordForm.valid">Send</button>
  </div>
</div>