@import "src/styleguide/shared.scss";

:host ::ng-deep input {
  @include input;
}

.actions { 
  padding: 0 0 23px 0;
}

.btn-close {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.btn-send {
  @include btn-primary;
  width: 124px;
  line-height: 0px;
  padding: 0px;
  
}

.btn-cancel {
  @include btn-secondary;
  width: 124px;
  line-height: 0px;
  padding: 0px;
}

.mat-dialog-card {
  padding: 78px 64px 81.5px 65px;
}