@import "src/styleguide/shared.scss";

app-card, .app-card-content {
  width: 100%;
}

.arrow-body-back {
  background-color: $color-primary;
  color: $color-white;
  display: inline-block;
  font-weight: bold;
  padding-left: 18px;
  font-size: 12px;
  position: absolute;
  left: -11px;
  top: 24px;
  z-index: 0;
}

.arrow-body-back::after {
  position: absolute;
  content: "";
  display: block;
  border: 10px solid $color-blue-2;
  left: 4px;
  -webkit-transform: rotate(-222deg);
  transform: rotate(-222deg);
  top: 24px;
}

.arrow-right {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.15em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 100px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  background-color: $color-white;
  border-left-width: 0.14em;
  border-left-style: solid;
  border-left-color: $color-primary;
  left: 0.1em;
}

.upload-card {
  padding: 84px 40px 30px 40px;
  width: 700px;
  border-radius: inherit;
}

.upload-file-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid $color-gray;
}

.upload-icon {
  //width: 85px;
  height: 58px;
  margin-top: 50px;
}

.drag-drop-text {
  font-size: 13px;
  color: #343a40;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 50px;
  line-height: 1.6;
  .link {
    font-size: 13px;
  }
}

.home-container {
  position: relative;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
}

form {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.checkbox {
  @include checkbox;
}

.error {
  padding: 16px;
  width: 300px;
  color: $color-white;
  background-color: $color-red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.btn-default {
  @include btn-default;

  width: 120px;
}

.btn-login {
  @include btn-primary;

  width: 120px;
  margin-bottom: 3rem;
}

.lc {
  @include card;

  min-width: 500px;
  min-height: 200px;
}

.btn-forgot-password {
  cursor: pointer;
}

:host ::ng-deep {
  .md-drppicker th {
    color: $color-black-0;
  }

  .md-drppicker td.active,
  .md-drppicker td.active:hover {
    background-color: $color-primary !important;
  }

  .md-drppicker .btn:focus,
  .md-drppicker .btn:hover {
    background-color: $color-primary !important;
  }

  .md-drppicker .btn {
    background-color: $color-primary !important;
    width: 120px !important;
    box-shadow: none !important;
    border-radius: 2px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-checkbox-label {
    padding-top: 3px;
  }

  .mat-checkbox-label {
    position: relative;
    top: 1px;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $color-blue-3;
  }
}

.btn-green {
  color: #ffffff;
  background: #28a745;
}

.btn-blue {
  @include btn-primary;
  width: 120px;
}

:host ::ng-deep .md-drppicker.shown {
  width: 526px;
}
