/*
* Define your global style variables here
*
*/

$default-font-family: "Roboto", sans-serif;
$color-white: #fff;
$color-black-0: #000;
$color-black: #333;
$color-black-1: #666;
$color-black-2: #707070;
$color-black-3: #A2A2A2;
$color-black-4: #343A40;
$color-gray: #ccc;
$color-gray-1: #ececec;
$color-gray-2: #eee;
$color-gray-3: #f7f7f7;
$color-blue: blue;
$color-blue-1: #0c459e;
$color-blue-2: #0B4093;
$color-blue-3: #1768A4;
$color-red: #ff5722;
$color-red-1: #CC0000;
$color-primary: #2196f3;
$color-secondary: #28a745;
