@import "src/styleguide/shared.scss";

.arrow-body-back {
  background-color: $color-primary;
  color: $color-white;
  display: inline-block;
  font-weight: bold;
  padding-left: 18px;
  font-size: 12px;
  position: absolute;
  left: -11px;
  top: 24px;
  z-index: 0;
}

.arrow-body-back::after {
  position: absolute;
  content: "";
  display: block;
  border: 10px solid $color-blue-2;
  left: 4px;
  -webkit-transform: rotate(-222deg);
  transform: rotate(-222deg);
  top: 24px;
}

.arrow-right {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.15em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 100px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  background-color: $color-white;
  border-left-width: 0.14em;
  border-left-style: solid;
  border-left-color: $color-primary;
  left: 0.1em;
}

.upload-card {
  padding: 84px 20px 24px 20px;
  min-width: 475px;
  border-radius: inherit;
}

.upload-file-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid $color-gray;
}

.upload-icon {
  //width: 85px;
  height: 58px;
  margin-top: 50px;
}

.drag-drop-text {
  font-size: 13px;
  color: #343A40;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 50px;
  line-height: 1.6;
  .link {
    font-size: 13px;
  }
}

.home-container {
  position: relative;
}
