<section class="home-container">
  <!-- arrow body back will show pure blue color. z-index won't work as it will only decrease the opacity of the color -->
  <div class="arrow-body-back">Upload<span class="arrow-right"></span></div>
  <mat-card class="upload-card" [class.mat-elevation-z3]="true">
    <app-ribbon-title [title]="'Upload'"></app-ribbon-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="upload-file-container" appDragDrop
           (onFileDropped)="onFileUpload($event)">
        <div fxLayout="column" fxFlex>
          <img src="/assets/icons/upload_icon.svg" class="upload-icon">
        </div>

        <p class="drag-drop-text">Drag and drop or <span class="link" (click)="fileInput.click()">click here</span><br>Upload only one main image</p>
        <input hidden type="file" #fileInput (change)="onFileUpload($event.target.files)" accept=".png,.jpg,.zip">
      </div>
    </mat-card-content>
  </mat-card>
</section>

