<app-toast [trigger]="toastTrigger$"></app-toast>
<section class="home-container">
  <app-card [title]="'Edit password'" [styles]="styles">
    <section class="app-card-content">
      <div class="form-container">
        <div class="profile-img">
          <img [src]="profileImage$ | async" alt="profile">
        </div>
        <form (ngSubmit)="changePassword()" fxFlexOffset="44px">
          <mat-form-field floatLabel="always">
            <input required type="password" matInput placeholder="Old password">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input required type="password" matInput placeholder="New password">
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input required type="password" matInput placeholder="Repeat password">
          </mat-form-field>
          <div class="text-right mt-4">
            <button class="btn btn-green mr-2" mat-button [routerLink]="['/profile']">Cancel</button>
            <button type="submit" class="btn btn-blue" mat-button>Save</button>
          </div>
        </form>
      </div>
    </section>
  </app-card>
</section>
