<div>
  <form novalidate>
    <mat-form-field>
      <mat-select #multiSelect [placeholder]="placeHolder" [(ngModel)]="selectedItems" name="multi-select-dropdown"
                  [multiple]="multiSelectDropdown" (selectionChange)="onSelect($event)" [required]="isRequired">
        <mat-option>
          <ngx-mat-select-search [clearSearchInput]="'false'" [placeholderLabel]="'Search'"
                                 [formControl]="dataFilterForm" [noEntriesFoundLabel]="'No result'" *ngIf="searchItem">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of (filteredData | async)" [value]="item">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
